<%= render "layouts/public_navbar" %>

<div class="container">
  <div class="card">
    <div class="card-content">
      <div class="card-container">
        <h4 class="center">New Application</h4>
        <%= simple_form_for [@vacancy, @application], html: { enctype: "multipart/form-data" } do |f| %>
          <%= render partial: 'layouts/errors', locals: { f: f, model: @application} %>

          <div class="row">
            <div class="col s12 m6">
              <%= f.input :personal_site %>
            </div>
            <div class="col s12 m6">
              <%= f.label :cv, label: "Upload resume" %>
              <%= f.file_field :cv %>
            </div>
            <div class="col s12 m12">
              <%= f.input :bio %>
            </div>
          </div>

          <div class="row">
            <h5>Candidate data</h5>
            <div id="candidate">
              <%= f.simple_fields_for :candidates do |candidate| %>
                <%= render 'candidate_fields', f: candidate %>
              <% end %>
            </div>
          </div>
          
          <%= render partial: 'layouts/submit_button', locals: { f: f, button_message: "Create application" } %>
        <% end %>
      </div>
    </div>
  </div>
</div>
