<%= render "layouts/admins_navbar" %>
<div class="container">

  <div class="card index-card">
    <div class="card-content">
      <h4 class="center">Vacancies</h4>
      <br>
      <div class="input-field inline">
        <input id="search_vacancy" type="text" class="validate" >
        <label for="search_vacancy">Search</label>
      </div>
      <br>

      <%= link_to 'New Vacancy', new_vacancy_path(), class: "btn create waves-light waves-effect" %>
      <br>
      <% if @vacancies.empty? %>
        <div id="table_vacancy">
          <table class="highlight">
            <thead>
              <tr>
                  <th>Title</th>
                  <th>Min Salary</th>
                  <th>Max Salary</th>
                  <th>Company</th>
                  <th>Details</th>
                  <th>Edit</th>
                  <th>Delete</th>
              </tr>
            </thead>
          </table>
        </div>

        <br>
        
        <div class="center">
          <h6>No vacancies exist</h6>
        </div>
      <% else %>
        <div id="table_vacancy">
          <table class="highlight">
            <thead>
              <tr>
                  <th>Title</th>
                  <th>Min Salary</th>
                  <th>Max Salary</th>
                  <th>Company</th>
                  <th>Details</th>
                  <th>Edit</th>
                  <th>Delete</th>
              </tr>
            </thead>

            <tbody>
              <% @vacancies.each do |vacancy|%>
                <tr>
                  <td><%= vacancy.title %></td>
                  <td><%= vacancy.min_salary %></td>
                  <td><%= vacancy.max_salary %></td>
                  <td><%= vacancy.company.name %></td>
                  <td>
                    <%= link_to vacancy_path(vacancy) do %>
                      <i class="material-icons">info</i>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to edit_vacancy_path(vacancy) do %>
                      <i class="material-icons">edit</i>
                    <% end %>
                  </td>
                  <td>
                    <%= link_to vacancy_path(vacancy), method: :delete, data: { confirm: 'Are you sure?'} do %>
                      <i class="material-icons red-text">delete</i>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  var searchBox = document.getElementById('search_vacancy');
  searchBox.onkeyup = function(){
    var filter = searchBox.value.toLowerCase();
    var tr = document.getElementById('table_vacancy').getElementsByTagName("tr");

    for (i = 0; i < tr.length; i++) {
      var td_title = tr[i].getElementsByTagName("td")[0];
      var td_min_salary = tr[i].getElementsByTagName("td")[1];
      var td_max_salary = tr[i].getElementsByTagName("td")[2];
      var td_company = tr[i].getElementsByTagName("td")[3];

      if (td_title || td_min_salary || td_max_salary || td_company) {
        var txtValue = td_title.textContent || td_title.innerText;
        var txtValue1 = td_min_salary.textContent || td_min_salary.innerText;
        var txtValue2 = td_max_salary.textContent || td_max_salary.innerText;
        var txtValue3 = td_company.textContent || td_company.innerText;

        if ( txtValue.toLowerCase().indexOf(filter) > -1 ||
             txtValue1.toLowerCase().indexOf(filter) > -1 ||
             txtValue2.toLowerCase().indexOf(filter) > -1 ||
             txtValue3.toLowerCase().indexOf(filter) > -1 ){
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }
</script>
