<%= render "layouts/admins_navbar" %>
<div class="container">
  <div class="card">
    <div class="card-content">
      <div class="card-container">
        <h4 class="center">Vacancy</h4>
        <div class="row">
          <div class="input-field col s12 m4">
            <input disabled value="<%= @vacancy.title %>" type="text">
            <label class="active">Name</label>
          </div>
          <div class="input-field col s12 m4">
            <input disabled value="<%= @vacancy.description %>" type="text">
            <label class="active">Description</label>
          </div>
          <div class="input-field col s12 m4">
            <input disabled value="<%= @vacancy.min_salary %>" type="text">
            <label class="active">Min salary</label>
          </div>
          <div class="input-field col s12 m4">
            <input disabled value="<%= @vacancy.max_salary %>" type="text">
            <label class="active">Max salary</label>
          </div>
          <div class="input-field col s12 m4">
            <input disabled value="<%= @vacancy.published_at.strftime('%d/%m/%Y') %>" type="text">
            <label class="active">Published at</label>
          </div>
          <div class="input-field col s12 m4">
            <input disabled value="<%= @vacancy.company.name %>" type="text">
            <label class="active">Company</label>
          </div>
        </div>

        <div class="row">
          <div class= "col s12">
            <%= link_to 'Apply to Vacancy', apply_vacancy_path(), class: "waves-effect waves-light btn", target: '_blank'  %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
