<%= render "layouts/admins_navbar" %>
<div class="container">

  <div class="card index-card">
    <div class="card-content">
      <h4 class="center">Applications</h4>
      <br>
      <div class="input-field inline">
        <input id="search_application" type="text" class="validate" >
        <label for="search_application">Search</label>
      </div>
      <br>

      <br>
      <% if @applications.empty? %>
        <%= render partial: 'layouts/empty_table', locals: { headers: ['Candidate name', 'Vacancy title', 'Status'], model: "application" } %>
      <% else %>
        <div id="table_application">
          <table class="highlight">
            <%= render partial: 'layouts/table_headers', locals: { headers: ['Candidate name', 'Vacancy title', 'Status'] } %>

            <tbody>
              <% @applications.each do |application|%>
                <tr>
                  <td><%= "#{application.candidate.name} #{application.candidate.last_name}" %></td>
                  <td><%= application.vacancy.title %></td>
                  <td>
                    <%= simple_form_for [application.vacancy, application] do |f| %>
                      <%= f.input :status, collection: ["pending", "in_progress", "accepted", "declined"], label: false %>

                      <div class="form-actions">
                        <%= f.button :submit, "Update application" %>
                      </div>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    $('select').formSelect();

    var searchBox = document.getElementById('search_application');
    searchBox.onkeyup = function(){
      var filter = searchBox.value.toLowerCase();
      var tr = document.getElementById('table_application').getElementsByTagName("tr");

      for (i = 0; i < tr.length; i++) {
        var td_candidate = tr[i].getElementsByTagName("td")[0];
        var td_vacancy = tr[i].getElementsByTagName("td")[1];
        var td_status = tr[i].getElementsByTagName("td")[2];

        if (td_candidate || td_vacancy || td_status) {
          var txtValue = td_candidate.textContent || td_candidate.innerText;
          var txtValue1 = td_vacancy.textContent || td_vacancy.innerText;
          var txtValue2 = td_status.textContent || td_status.innerText;

          if ( txtValue.toLowerCase().indexOf(filter) > -1 ||
              txtValue1.toLowerCase().indexOf(filter) > -1 ||
              txtValue2.toLowerCase().indexOf(filter) > -1 ){
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }
  });
</script>
