<%= render "layouts/admins_navbar" %>

<div class="container">
  <div class="card">
    <div class="card-content">
      <div class="card-container">
        <h4 class="center">New Admin</h4>
        <%= simple_form_for @candidate, html: { enctype: "multipart/form-data" } do |f| %>
          <%= f.error_notification %>
          <% if @candidate.errors.full_messages.any? %>
            <% @candidate.errors.full_messages.each do |error_message| %>
              <%= " - #{error_message}" %>
              <br>
            <% end %>
          <% end %>
          <br><br>

          <div class="form-inputs">
            <%= f.input :name %>
            <%= f.input :last_name %>
            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "email" }%>
            <%= f.input :password,
                        required: true,
                        hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                        input_html: { autocomplete: "new-password" } %>
            <%= f.input :password_confirmation,
                        required: true,
                        input_html: { autocomplete: "new-password" } %>
          </div>

          <div class="form-actions row margin_bottom--medium">
            <%= f.button :button, "Create admin", type: "submit", id: "submit-button", class: "create waves waves-effect waves-light" %>
          </div>

        <% end %>
      </div>
    </div>
  </div>
</div>
