<ul id="dropdown1" class="dropdown-content">
  <li><%= link_to 'Companies', companies_path() %></li>
  <li><%= link_to 'Vacancies', vacancies_path() %></li>
  <li><%= link_to 'Candidates', candidates_path() %></li>
  <li><%= link_to 'Admins', candidates_admins_path() %></li>
  <li><%= link_to 'Create Admins', new_candidate_path(:candidate) %></li>
  <li><%= link_to 'Applications', applications_path() %></li>
</ul>

<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <div class="left">
        <%= link_to root_path do %>
          <%= image_tag "/assets/hr-logo.png", id: "navbar-image" %>
        <% end %>
      </div>

      <ul class="left">
  			<li><%= link_to 'Actual Menu: Admin', admins_path() %></li>
  		</ul>

      <ul class="right hide-on-med-and-down">
        <li><%= link_to 'Companies', companies_path() %></li>
        <li><%= link_to 'Vacancies', vacancies_path() %></li>
        <li><%= link_to 'Candidates', candidates_path() %></li>
        <li><%= link_to 'Admins', candidates_admins_path() %></li>
        <li><%= link_to 'Create Admins', new_candidate_path(:candidate) %></li>
        <li><%= link_to 'Applications', applications_path() %></li>
        <li>
          <%= link_to destroy_candidate_session_path, :method=>'delete' do %>
            <i class="material-icons red-text">exit_to_app</i>
          <% end %>
        </li>
      </ul>

      <ul class="right hide-on-large-only">
  			<li><a class="dropdown-trigger" data-target="dropdown1">Options<i class="material-icons right">arrow_drop_down</i></a></li>
  		</ul>
    </div>
  </nav>
</div>
