<li><%= link_to 'Companies', admin_companies_path() %></li>
<li><%= link_to 'Vacancies', admin_vacancies_path() %></li>
<li><%= link_to 'Candidates', admin_candidates_path() %></li>
<li><%= link_to 'Admins', admin_administrators_path() %></li>
<li><%= link_to 'Create Admins', new_admin_administrator_path(:candidate) %></li>
<li><%= link_to 'Applications', admin_applications_path() %></li>